{% extends "registration/base.html" %}

{% block title %}thor | Retrieve Forgotten Password{% endblock %}

{% block head_additional %}
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/overridden.css"/>
{% endblock %}

{% block content %}

    <div class="account-container">
        <div align="center">


            <div align="center">
                  <div style="padding: 1em">
                <img src="{{ STATIC_URL }}assets/img/logo-white.svg" height="170px"/>
            </div>


                <p style="font-size: 1.5em" class="bold-text">Reset Password</p>
                <br/>
            </div>

            <form accept-charset="UTF-8" action='' class="formbody span7"
                  id="user_edit"
                  method="post">
                {% csrf_token %}

                <input name="utf8" type="hidden" class="text" value="✓"><input
                    name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden">

                <p class="bold-text">Forgot your password? Enter your email in the form below and we'll send you
                    instructions for creating a new one.
                </p>
                <br/>

                <div><label for="email">Email Address</label>
                    <input id="email" class="thor-login-text email-text" name="email" size="20" type="email">
                </div>
                <br/>

                <div>
                    <input type="submit" class="mui-btn mui-btn-default" value="Reset Password"/>
                </div>
            </form>

        </div>

    </div>

    <br/>
    <div align="center">
        <p>Remember your password after all? <a href="{% url "auth_login" %}" class="bold-text">Login</a>
    </div>

{% endblock %}
