{% extends "registration/registration_base.html" %}
{% block title %}Password reset complete{% endblock %}
{% block body %}

    <div class="account-container">
        <div align="center">
            <span class="fa fa-check" style="font-size: 3.5em"></span>

            <p style="font-size: 1.5em" class="bold-text">Password successfully reset!</p>
            <br/>
        </div>
    </div>

    <br/>
    <div align="center">
        <a href="/accounts/login" class="bold-text">Login</a>
    </div>

{% endblock %}
