<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>THOR Dashboard</title>
    {% include 'components/styles.html' %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body style="background-color: #26B99A; height: 100%; width:100%;">

<div class="row flex-container">
    {# sidebar #}
    <div id="dashboard-menu" class="col-md-1" style="min-width: 150px; background-color: #2C3E50; padding:0"
         align="center">
        <img src="{{ STATIC_URL }}assets/img/logo-normal.svg" width="80%" align="center"
             style="padding-left: 10px; padding-top: 10px">

        <ul class="menu">

            <li class="active"><span class="fa fa-bar-chart"></span></li>
            <li><span class="fa fa-sliders"></span></li>
            <li><span class="fa fa-link"></span></li>
            <li></li>
            <li><span class="fa fa-user"></span></li>
            <li><span class="fa fa-life-bouy"></span></li>
        </ul>

        <div class="sidebar-footer">
            <img src="{{ STATIC_URL }}assets/img/cern-logo.svg" width="35%">
        </div>
    </div>

    {# main content #}
    <div id="dashboard-content" class="col-md-10"></div>

</div>
</body>
</html>