{% include 'base.html' %}

{% block head_additional %}
    {% include 'components/vis-resources.html' %}
    {% include 'components/general-resources.html' %}

    <style>
        body {
            background-color: #35495E;
        }

        .menu li.active {
            background-color: #35495E;
        }

        .visualization-panel h4 {
            color: white;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border: none;
        }

        .table > tbody + tbody {
            border: none;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="row flex-container">
    {# sidebar #}
    <div id="dashboard-menu" class="col-md-1 col-sm-2 col-xs-2" style="background-color: #2C3E50; padding:0"
         align="center">
        <img src="/static/assets/img/logo-original.svg" width="80%" align="center"
             style="padding-left: 10px; padding-top: 10px">

        <ul class="menu">
            <li class="active"><span class="fa fa-bar-chart"></span></li>
            <a alt="View the data dashboard" href="/dashboard/data/"><li><span class="fa fa-database"></span></li></a>
            <a alt="View the researcher dashboard" href="/dashboard/researcher/"><li><span class="fa fa-user"></span></li></a>
            <a alt="View the event dashboard" href="/dashboard/event/"><li><span class="fa fa-calendar"></span></li></a>

            <br/>
            <a href="https://project-thor.readme.io/docs/dashboard" target="_new" alt="Learn more about the THOR dashboard">
                <li><i class="fa fa-info-circle" aria-hidden="true"></i></li>
            </a>
        </ul>

    </div>

    {# main content #}
    <div id="dashboard-content" class="col-md-11">

        <div class="row col-md-12" style="padding-top: 1em; padding-bottom: 1em">

            <div class="col-md-12">
                <h2 class="color-white uppercase bold-text">OVERVIEW</h2>
            </div>
        </div>

        <div class="row visualization-container">

            <div class="col-md-12">
                <div class="visualization-panel col-md-12 col-sm-12 col-xs-12" style="height: 400px;">
                    <h4>Overview</h4>

                    <div id="overview-chart" class="chart">
                    </div>
                </div>
            </div>
        </div>


        <div class="row visualization-container">

            <a href="/dashboard/data">
            <div class="col-md-4 col-sm-4 col-xs-12" align="center">
                <div class="visualization-panel col-md-12 "
                     style="background-color: #2980BA; height: 200px; padding: 60px">
                    <span class="fa fa-database" style="font-size: 3em"></span><br/>
                    <h4 style="text-transform: uppercase">DOIs</h4>
                </div>
            </div>
                </a>

            <a href="/dashboard/researcher">
            <div class="col-md-4 col-sm-4 col-xs-12" align="center">
                <div class="visualization-panel col-md-12"
                     style="background-color: #26B99A; height: 200px; padding: 60px">
                    <span class="fa fa-user" style="font-size: 3em"></span><br/>
                    <h4 style="text-transform: uppercase">ORCIDs</h4>
                </div>
            </div>
                </a>

            <a href="/dashboard/event">
            <div class="col-md-4 col-sm-4 col-xs-12" align="center">
                <div class="visualization-panel col-md-12"
                     style="background-color: #ecf0f1; color: #223447; height: 200px; padding: 60px">
                    <span class="fa fa-calendar" style="font-size: 3em"></span><br/>
                    <h4 style="text-transform: uppercase; color:#223447">Events</h4>
                </div>
            </div>
                </a>

            <br/>


        </div>


    </div>
{% endblock %}

{% block end_additional %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js" type="text/javascript"></script>
    <script src="/static/assets/js/thor-dash-lib.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            dashboard.render_general_metrics("/api/data?type=aggregate");
        });
        dashboard.register_resize_listener("aggregate", "/api/data?type=aggregate");
    </script>
{% endblock %}