{% include 'base.html' %}

{% block head_additional %}
    {% include 'components/vis-resources.html' %}
    {% include 'components/general-resources.html' %}
    <style>
        body {
            background-color: #2980BA;
        }

        .menu li.active {
            background-color: #2980BA;
        }

        .menu a:hover {
            color: white;
        }

        .visualization-panel h4 {
            color: #2980BA;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="row ">
    {# sidebar #}
    <div id="dashboard-menu" class="col-md-1 col-sm-2 col-xs-2"
         style="background-color: #2C3E50; padding:0"
         align="center">
        <img src="/static/assets/img/logo-original.svg" width="80%"
             align="center"
             style="padding-left: 10px; padding-top: 10px">

        <ul class="menu">
            <a href="/dashboard/"><li><span class="fa fa-bar-chart"></span></li></a>
            <li class="active"><span class="fa fa-database"></span></li>
            <a href="/dashboard/researcher/"><li><span class="fa fa-user"></span></li></a>
            <a href="/dashboard/crossrefs/"><li><span class="fa fa-cubes"></span></li></a>
            <a href="/dashboard/event/"><li><span class="fa fa-calendar"></span></li></a>
            <br/>
            <a href="https://project-thor.readme.io/docs/dashboard" target="_new" alt="Learn more about the THOR dashboard">
                <li><i class="fa fa-info-circle" aria-hidden="true"></i></li>
            </a>
        </ul>

    </div>

    {# main content #}
    <div id="dashboard-content">
        <div class="row col-md-12 col-sm-12 col-xs-12"
             style="padding-top: 1em; padding-bottom: 1em">

            <div class="col-md-12">
                <h2 class="color-white uppercase bold-text">Research Object
                    Identifier Metrics (DataCite) <a class="pull-right mui-btn mui-btn-default"  target="_new" href="/api/data?type=doi">View RAW Data</a></h2>
            </div>
        </div>


        <div class="row visualization-container">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="visualization-panel col-md-12"
                     style="height: 350px;">
                    <h4>Overview</h4>

                    <div id="monthly-chart" class="chart">
                    </div>
                </div>
            </div>

        </div>

        <div class="row visualization-container">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="visualization-panel col-md-12"
                     style="height: 920px;">
                    <h4>DOIs by Allocator</h4>

                    <div id="institution-chart" class="chart">
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="visualization-panel col-md-12"
                     style="height: 470px;">
                    <h4>DOI Object Type</h4>

                    <div id="object-type" class="chart">
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="visualization-panel col-md-12" style="height: 470px;">
                    <h4>DOIs With ORCID iDs</h4>

                    <div id="orcid-chart" class="chart">
                    </div>

                </div>

            </div>

        </div>

        <div class="clearfix"></div>


    </div>

    <div id="table-button" class="toggle-hidden">
        <span class="button-container"
              onclick="dashboard.toggle_detail_view()">
            <i class="glyphicon glyphicon-list"></i> <span id="button-txt">View Detailed List</span>
        </span>
    </div>
    <div id="table-view" class="toggle-hidden">
        <div class="row-fluid visualization-container">
            <div class="col-md-12 col-sm-10 col-xs-8">
                <div class="visualization-panel col-md-12"
                     style="height: 300px; overflow-y: scroll">
                    <h4>Detailed Research Object Metrics</h4>

                    <table class="table dc-data-table">

                        <thead>
                        <tr class="header">
                            <th></th>
                            <th>Data Centre</th>
                            <th>Key</th>
                            <th>Value</th>

                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_additional %}
    <script src="/static/assets/js/thor-dash-lib.js"
            type="text/javascript"></script>
    <script>

        $(document).ready(function () {
            dashboard.render_doi_metrics("/api/data?type=doi");
        });

        dashboard.register_resize_listener("doi", "/api/data?type=doi");

    </script>
{% endblock %}
