{% include 'base.html' %}

{% block head_additional %}
    {% include 'components/vis-resources.html' %}
    {% include 'components/general-resources.html' %}

    <style>
        body {
            background-color: white;
        }

        .menu li.active {
            background-color: white;
        }

        .menu li.active a {
            color: #7f8c8d;
        }

        .visualization-panel h4 {
            color: #7f8c8d;
        }

        .visualization-panel {
            background-color: #ecf0f1;
            color: #7f8c8d;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border: none;
        }

        .table > tbody + tbody {
            border: none;
        }

        .axis path, .axis line {
            stroke: #7f8c8d !important;
        }

        .dc-chart g.axis text {
            fill: #7f8c8d;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="row flex-container">
    {# sidebar #}
    <div id="dashboard-menu" class="col-md-1 col-sm-2 col-xs-2" style="background-color: #2C3E50; padding:0"
         align="center">
        <img src="/static/assets/img/logo-original.svg" width="80%" align="center"
             style="padding-left: 10px; padding-top: 10px">

        <ul class="menu">

            <li><a href="/dashboard/"><span class="fa fa-bar-chart"></span></a></li>
            <li><a href="/dashboard/data/"><span class="fa fa-database"></span></a></li>
            <li><a href="/dashboard/researcher/"><span class="fa fa-user"></span></a></li>
            <li class="active"><a href="/dashboard/event/"><span class="fa fa-calendar"></span></a></li>
        </ul>

    </div>

    {# main content #}
    <div id="dashboard-content" class="container">
        <div class="row col-md-12" style="padding-top: 1em; padding-bottom: 1em">

            <div class="col-md-12">
                <h2 class="uppercase bold-text">THOR Events
                    {% if user.is_superuser %}
                    <a href="/admin/dashboard/event/add/" class="mui-btn mui-btn-default pull-right">
                        <span class="fa fa-plus-o"></span> Add New Event
                    </a>
                    {% endif %}
                </h2>
            </div>
        </div>

        <div class="row visualization-container">

            <div class="col-md-12">
                <div class="visualization-panel col-md-10" style="background-color: white">
                    <h4>Events calendar</h4>

                    <div id="events-overview-chart" class="chart">
                    </div>
                </div>

                 <div class="col-md-2">
                    <div id="events-legend">
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div><br/><br/>

        <div class="row visualization-container">

            <div class="col-md-12">
                <div class="col-md-12">
                    <h4>Events list</h4>
                    <table class="mui-table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Participant Count</th>
                            <th>Participant Type</th>
                        </tr>
                        </thead>

                        <tbody id="event_list">
{#                        will be populated from the javascript call#}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_additional %}
    <script src="/static/assets/js/thor-dash-lib.js" type="text/javascript"></script>
    <script>
        dashboard.render_event_calendar("#events-overview-chart", "/api/events?type=event_calendar", {
            'width': 950,
            'height': 130,
            'cellSize': 15
        })
    </script>
{% endblock %}