{% include 'base.html' %}

{% block head_additional %}
    {% include 'components/vis-resources.html' %}
    {% include 'components/general-resources.html' %}
    <style>
        body {
            background-color: #14A085;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border: none;
        }

        .table > tbody + tbody {
            border: none;
        }


    </style>

{% endblock %}

{% block content %}
    <div class="row flex-container">
    {# sidebar #}
    <div id="dashboard-menu" class="col-md-1" style="min-width: 150px; background-color: #2C3E50; padding:0"
         align="center">
        <img src="{{ STATIC_URL }}assets/img/logo-normal.svg" width="80%" align="center"
             style="padding-left: 10px; padding-top: 10px">

        <ul class="menu">

            <li><a href="/dashboard/"><span class="fa fa-bar-chart"></span></a></li>
            <li><a href="/dashboard/data/"><span class="fa fa-database"></span></a></li>
            <li class="active"><a href="/dashboard/researcher/"><span class="fa fa-user"></span></a></li>
            <li><a href="/dashboard/event/"><span class="fa fa-calendar"></span></a></li>

            <hr/>

            <li><span class="fa fa-sliders"></span></li>
            <li><span class="fa fa-link"></span></li>
            <li><span class="fa fa-life-bouy"></span></li>
        </ul>

        <div class="sidebar-footer">
            <img src="{{ STATIC_URL }}assets/img/cern-logo.svg" width="35%">
        </div>
    </div>

    {# main content #}
    <div id="dashboard-content" style="padding-left: 177px;">
        <div class="row col-md-12" style="padding-top: 1em; padding-bottom: 1em">

            <div class="col-md-12">
                <h2 class="color-white uppercase bold-text">Researcher Metrics (ORCID)</h2>
            </div>
        </div>

        <div class="row visualization-container">

            <div class="col-md-12">
                <div class="visualization-panel col-md-12">
                    <h4>Overview</h4>

                    <div id="monthly-chart" class="chart">
                    </div>
                </div>
            </div>

        </div>

        <div class="row visualization-container">


            <div class="col-md-4">
                <div class="visualization-panel col-md-12">
                    <h4>Unique DOIs by Month</h4>

                    <div id="unique-dois-chart" class="chart">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="visualization-panel col-md-12">
                    <h4>Works in ORCID by Month</h4>

                    <div id="works-chart" class="chart">
                    </div>
                </div>
            </div>


              <div class="col-md-4">
                <div class="visualization-panel col-md-12">
                    <h4>Works with DOIs by Month</h4>

                    <div id="works-dois-chart" class="chart">
                    </div>
                </div>
            </div>

        </div>

        <div class="row visualization-container">
             <div class="col-md-4">
                <div class="visualization-panel col-md-12">
                    <h4>Live ORCIDs Over Time</h4>

                    <div id="liveids-chart" class="chart">
                    </div>
                </div>
            </div>

             <div class="col-md-4">
                <div class="visualization-panel col-md-12">
                    <h4>Email Verified ORCIDs Over Time</h4>

                    <div id="verified-ids-chart" class="chart">
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row visualization-container">
            <div class="col-md-12">
                <div class="visualization-panel col-md-12" style="height: 500px; overflow-y: scroll">
                    <h4>Detailed Researcher Metrics</h4>

                    <table class="table dc-data-table">

                        <thead>
                        <tr class="header">
                            <th></th>
                            <th>Live ORCIDs</th>
                            <th>Email-Verified ORCIDs</th>
                            <th>Unique DOIs</th>
                            <th>Total Works</th>
                            <th>Works with DOIs</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block end_additional %}
    <script src="{{ STATIC_URL }}assets/js/thor-dash-lib.js" type="text/javascript"></script>
    <script>
        dashboard.render_orcid_metrics("/data/api/get_data?type=orcid")
    </script>
{% endblock %}