{% extends "registration/registration_base.html" %}
{% block title %}Password Reset{% endblock %}
{% block body %}

    <div class="account-container">
        <div align="center">
            <div style="padding: 1em">
                <img src="{{ STATIC_URL }}assets/img/logo-white.svg" height="170px"/>
            </div>


            <p style="font-size: 1.5em" class="bold-text">We have sent you an email with a link to reset your password.</p>
            <p>Please check your email and click the link to continue.</p>
            <br/>

            <a class="btn btn-primary btn-large"  href='{% url "auth_login" %}'>Login
            </a>
        </div>
    </div>


{% endblock %}

