
{% extends "templates/base.html" %}
{% load webdesign %}

{% block title %}thor | Confirm password reset{% endblock %}

{% block head_additional %}
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/overridden.css"/>
{% endblock %}

{% block content %}


    <div id="login" class="login_form" xmlns="http://www.w3.org/1999/html">

            <div style="padding: 1em">
                <img src="{{ STATIC_URL }}assets/img/logo-white.svg" height="170px"/>
            </div>


        <div class="section-header"><span
                class="header-text"><i class="icon-user"></i> Enter new password</span>
        </div>


        <form accept-charset="UTF-8" action='' class="formbody span7"
              id="user_edit"
              method="post">
            {% csrf_token %}

            <input name="utf8" type="hidden" class="text" value="✓"><input
                name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden">

            <p>Enter your new password below to reset your password:
            </p>

            <div><label for="id_new_password1">New Password</label>
                <input id="id_new_password1" class="text form-text span6" name="new_password1" size="20" type="password">
            </div>

            <div><label for="id_new_password2">Confirm Password</label>
                <input id="id_new_password2" class="text form-text span6" name="new_password2" size="20" type="password">
            </div>


            <div>
                <input type="submit" class="btn btn-info" value="Set password"/>
            </div>
        </form>

    </div>

{% endblock %}




