{% extends "registration/registration_base.html" %}
{% block title %}Change password{% endblock %}
{% block body %}

    <div class="account-container" align="center">

        <span class="fa fa-lock" style="font-size: 3.5em"></span>

        <p style="font-size: 1.5em">Change Password</p>
        <br/>

        <div align="center">
            <form method='post' action=''>{% csrf_token %}
                <table class="change_password">
                    {{ form }}

                </table>

                <br/>

                <input type='submit' class="btn btn-primary" value="Change password"/>
            </form>

        </div>
    </div>

    <br/>
    <div align="center">
        <p class="orange-text bold-text"><a href="/accounts/login">Login</a></p>
    </div>
{% endblock %}





