{% extends "registration/registration_base.html" %}
{% block title %}Activation email sent{% endblock %}
{% block body %}
    <br/>
    <div class="account-container">
        <div align="center">
              <div style="padding: 1em">
                <img src="{{ STATIC_URL }}assets/img/logo-white.svg" height="170px"/>
            </div>


            <h1>An activation email has been sent!</h1>

            <p>Please check your email and click on the link to activate your account.</p>
            <br/>
        </div>

    </div>
{% endblock %}

