<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>thor</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge; text/html">

    {% include 'components/general-resources.html' %}

</head>
<body class="home-bg" style="padding-top: 2em">

<div class="clearfix"></div>

{% block content %}
{% endblock %}

<div class="clearfix"></div>

<br/>

<div class="footer-bar fixed home-page-footer {% block footer_class %} {% endblock %}" align="center">


    <p>Copyright 2015-Present <a href="http://project-thor.eu/" target="_blank">THOR Project</a>. Designed by <a
            href="http://www.antarctic-design.co.uk">Antarctic Design</a>.</p>

</div>

</body>
</html>